@using Microsoft.AspNetCore.Identity



WebAPI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="c:\users\shres\desktop\movie proj\moviewebapi\webapi\pages\_viewimports.cshtml">c:\users\shres\desktop\movie proj\moviewebapi\webapi\pages\_viewimports.cshtml</a>